.bhMap-tools {
  position: absolute;
  right: 40px;
  top: 10px;
  padding: 5px;
  background: #fff;
  /* border: 1px solid #aaa; */
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px #aaa;
  z-index: 2;
}
.bhMap-tools span {
  display: inline-block;
  padding: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.bhMap-tools span:hover {
  color: #1e70ad;
}
.bhMap-tools span i {
  margin-right: 5px;
  font-size: 24px;
  vertical-align: sub;
}